<%- include('../partials/header') %>


<form action="/backpacking" method="POST">
<div class="add-trail">
    <label >Backpacking Trails:</label>
    <input type="text" placeholder="Trail" name="trail">
    <label >Location:</label>
    <input type="text" placeholder="City, State" name="location">
    <label >Distance:</label>
    <input type="text" placeholder="Distance" name="distance">
    <label class="difficulty">Difficulty:</label>
    <select name="difficulty" id="backpacking-diff">
        <option value="Easy">Easy</option>
        <option value="Medium">Medium</option>
        <option value="Hard">Hard</option>
    </select>
    <button class="submit-button"> Submit</button>
</div>
</form>






<%- include('../partials/footer') %>
