* {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width:767px) {
  body {
    padding:10px
  }
}

@media only screen and (min-width:768px) and (max-width: 1023px) {
  body {
    padding: 10px
  }
}
@media only screen and (min-width:1024px) {
  body {
    padding: 10px
  }
}


body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  background-image: url('/images/forrest.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}


.header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  background-color: 	#8CB2AA;
  margin: none;
  color: white;
  padding-top: 30px;
}

#main-title {
  padding-left: 20px;
}


.header-links {

  color: white;
  padding-left: 65%;
}
.header-links > a {
  padding-left: 25px;
  padding-right: 15px;
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.header-links > a:hover {
  color: grey;
}
a {
  color: white;
}

.login {
  display: flex;
  justify-content: flex-end;
}

.container {
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap: 150px;
  font-size: 20px;
}

.hiking-list,
.backpacking-list {
  padding: 20px;
  text-align: center;
}

.hiking-list thead tr th,
.backpacking-list thead tr th {
  text-align: center;
}

.add-trail {
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.add-trail > input {
  border-radius: 5%;
  margin: 20px;
  padding: 10px 25px 10px 25px;
}

form input::placeholder,
form select::placeholder {
  text-align: center;
}

input[type="text"] {
  font-size: 20px;
  text-align: center;
}

input[type="text"]:focus {
  font-size: 20px
}

.add-trail> button {
  margin: 20px;
}

.add-trail > button {
  border-radius: 10%;
  margin: 10%;
  margin-left: 32%;
  padding: 5px 15px;
  padding-left: 10px;
  font-size: 16px;
  width: 100px;
}

.hiking-details {
  display: grid;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
  padding: 20px;
  margin: 30px;
}

.backpacking-details {
  display: grid;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
  padding: 20px;
  margin: 30px;
}
section > p {
  margin: 7px;
}

#backpacking-diff {
  padding-left: 10px;
  width:150px;
  font-size: 20px;
  margin-left: 20px;
}

.difficulty {
  margin-left: 10px;
}

#hiking-diff {
  padding-left: 10px;
  width:150px;
  font-size: 20px;
  margin-left: 20px;
}

footer {
  background-color:#8CB2AA ;
}
